#card_add_task {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card_add_task .card {
    margin: 100px 20px 0 20px;
}

@media (max-width: 767px) {
    /* Styles for screens up to 767px wide (typically mobile screens) */
    #card_add_task .card {
        margin: 200px 5px 0 5px;
        width: calc(100% - 10px);
        height: 50vh; /* Subtract the left and right margins */
    }
}

#card_add_task .card .card-header{
    background-color: rgb(40, 163, 143);
    background: linear-gradient(to right, rgb(40, 163, 143),rgb(189,79,20));;
    color: white;
    text-align:center;
}

#task_form .form-group{
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#task_form .form-group label{
    width: 200px;
    margin-right: 30px;
}
#form_btn{
    display: flex;
    justify-content: space-around;
    margin: 30px 0 20px 0;
}
@media (max-width: 767px) {
    /* Styles for screens up to 767px wide (typically mobile screens) */
    #form_btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
    #form_btn a{
        width: 200px;
        margin: 5px;
    }
    #form_btn button{
        width: 200px;
        margin: 5px;
    }
}
