<div class="row m-3" id="card_add_task">
  <div class="col-md-8">
    <div class="card rounded-4">
      <div class="card-header border-0">
        <div class="row g-3">
          <h2>Plan your tasks here!</h2>
        </div>

      </div>
      <div class="card-body">
        <div class="container mt-3">
          <form id="task_form">
            <!-- Task Name -->
            <div class="form-group">
              <label for="taskName" style="font-weight: bold;">Task Name:</label>
              <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Enter Task Name"
                [(ngModel)]="formData.name">
            </div>

            <!-- Description -->
            <div class="form-group">
              <label for="description" style="font-weight: bold;">Description:</label>
              <textarea class="form-control" id="description" name="description" rows="3"
                placeholder="Enter Description" [(ngModel)]="formData.description"></textarea>
            </div>

            <!-- Due Date -->
            <div class="form-group">
              <label for="dueDate" style="font-weight: bold;">Due Date:</label>
              <input type="date" class="form-control" id="dueDate" name="dueDate" [(ngModel)]="formData.dueDate">
            </div>

            <!-- Submit Button -->
            <div id="form_btn">
              <button type="submit" class="btn" (click)="onSubmit()"
                style="background-color: rgb(189, 79, 20); color:aliceblue; font-weight:bold;">Add Task</button>
              <button type="button" class="btn "
                style="background-color: rgb(40, 163, 143); color:white; font-weight:bold;" (click)="viewTasks()">View
                Tasks</button>
              <a href="side_nav/chart_view" class="btn text-white"
                style="background-color: rgb(40, 163, 143); font-weight: bold;">Analyse Tasks</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>