<div id="wrapper" [ngClass]="{'mobile': isMobile}">
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="#">Task Manager</a>
                </div>
            </div>
            <li><a href="side_nav/home" id="home">Home</a></li>
            <li><a href="side_nav/add_task" id="add_task">Add Task</a></li>
            <li><a href="side_nav/edit_task" id="edit_task">Edit Task</a></li>
            <li><a href="side_nav/list_view" id="list_view">List View</a></li>
            <li><a href="side_nav/chart_view" id="chart_view">Chart View</a></li>
            <li><a href="#contact" id="contact">Contact</a></li>
        </ul>
    </nav>

    <!-- side bar toggle button-->
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>

    <!-- Page Content -->
    <div *ngIf="!isMobile">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="isMobile">
    <router-outlet></router-outlet>
</div>