<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12"
            style="height: 50vh; background-image: url('assets/img/landing_image.jpg'); background-size: cover; background-position: center;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="txt-1">
            <h1>Task Manager <br><br>
            <h3 style="color: rgb(40,163,143);">A comprehensive solution for viewing and analyzing your tasks</h3>
        </h1>
        </div>
        <div class="col-md-6" id="get_started_btn">
            <a href="side_nav/add_task" class="btn expand-on-hover" style="font-size: 20px; background-color: rgb(40, 163, 143); color:white;">
                Get Started ! <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>

