<div class="row m-3" id="card_list_view">
    <div class="col-md-10">
        <div class="card rounded-4" style="max-height: 85vh; overflow-y: auto;">
            <div class="card-header border-0">
                <div class="row g-3">
                    <h2>All your task are here!</h2>
                </div>

            </div>
            <div class="card-body p-1">
                <div class="container">
                    <div class="table-responsive list-table">
                        <table class="table table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Task Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let task of tasks | slice: (page-1) * pageSize : page * pageSize; let i = index;">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td
                                        [ngStyle]="{'color': isPastDue(task.dueDate)===-1 ? 'red' :(isPastDue(task.dueDate)===0?'black': 'green')}">
                                        {{ task.name }}
                                    </td>
                                    <td
                                        [ngStyle]="{'color': isPastDue(task.dueDate)===-1 ? 'red' :(isPastDue(task.dueDate)===0?'black': 'green')}">
                                        {{
                                        task.description }}</td>
                                    <td
                                        [ngStyle]="{'color': isPastDue(task.dueDate)===-1 ? 'red' :(isPastDue(task.dueDate)===0?'black': 'green')}">
                                        {{ task.dueDate
                                        }}</td>
                                    <td>
                                        <div style="display: flex; justify-content:center; gap: 20px;">
                                            <button type="button" class="btn btn-warning" (click)="editTask(task.name)"
                                                style="padding: 0 8px 0 8px;">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger" (click)="deleteTask(i)"
                                                style="padding: 0 8px 0 8px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center">
                        <div class="col col-sm-6">
                            <p class="mb-2">
                                Showing {{ tasks.length ===0?0: (page - 1) * pageSize + 1 }} to {{ getMax() }} of {{
                                tasks.length || 0 }}
                                entries
                            </p>
                        </div>
                        <div class="col col-sm-6">
                            <div class="text-sm-right float-sm-end listjs-pagination">
                                <ngb-pagination [collectionSize]=tasks.length||0 [(page)]="page" [pageSize]=pageSize
                                    [maxSize]="2">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                    <div id="navigate_btn">
                        <a href="side_nav/add_task" class="btn"
                            style="background-color: rgb(40, 163, 143); color:white; font-weight:bold;">New Task</a>
                        <a href="side_nav/chart_view" class="btn text-white"
                            style="background-color: rgb(40, 163, 143); font-weight: bold;">Analyse Tasks</a>
                        <button class="btn btn-danger" style=" font-weight:bold;"
                            (click)="openDialog(delteAllTasks)">Delete All Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #delteAllTasks let-modal>
    <div class="modal-content">
        <div class="modal-header p-3 pb-0 d-flex justify-content-center">
            <p class="fs-18 fw-medium" id="exampleModalLabel1">Are you sure you want to delete all the tasks?</p>
            <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal1"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="container d-flex justify-content-around">
                    <button class="btn btn-success" (click)="deleteAllTask()"><i class="fa-solid fa-check"></i> Yes</button>
                    <button class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa-solid fa-circle-xmark"></i> No</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>